/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 3, ../../app/assets/stylesheets/origin.css.scss */
* {
  box-sizing: border-box;
}

/* line 8, ../../app/assets/stylesheets/origin.css.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 17, ../../app/assets/stylesheets/origin.css.scss */
html {
  line-height: 1;
}

/* line 21, ../../app/assets/stylesheets/origin.css.scss */
ol, ul {
  list-style: none;
}

/* line 25, ../../app/assets/stylesheets/origin.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 30, ../../app/assets/stylesheets/origin.css.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 36, ../../app/assets/stylesheets/origin.css.scss */
q, blockquote {
  quotes: none;
}

/* line 41, ../../app/assets/stylesheets/origin.css.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 48, ../../app/assets/stylesheets/origin.css.scss */
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 54, ../../app/assets/stylesheets/origin.css.scss */
a img {
  border: none;
}

/* line 58, ../../app/assets/stylesheets/origin.css.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 63, ../../app/assets/stylesheets/origin.css.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'AppleSDGothicNeo-Thin','YBUU02','Malgun Gothic','Dotum',sans-serif;
  font-weight: 300;
}

/* line 70, ../../app/assets/stylesheets/origin.css.scss */
.screen-wrapper {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 400%;
  background-color: #fff;
}

/* line 78, ../../app/assets/stylesheets/origin.css.scss */
#screen-01 {
  width: 100%;
  height: 100%;
}

@media (max-width: 640px) {
  /* line 84, ../../app/assets/stylesheets/origin.css.scss */
  #screen-01 {
    position: static;
  }
}
/* line 89, ../../app/assets/stylesheets/origin.css.scss */
#screen-02 {
  width: 100%;
  min-height: 25%;
  background-color: #ededed;
}

/* line 95, ../../app/assets/stylesheets/origin.css.scss */
#screen-03 {
  width: 100%;
  min-height: 25%;
  background-color: #fff;
}

/* line 101, ../../app/assets/stylesheets/origin.css.scss */
#screen-04 {
  width: 100%;
  min-height: 25%;
  background-color: #000;
}

/* line 107, ../../app/assets/stylesheets/origin.css.scss */
#screen-05 {
  width: 100%;
  min-height: 25%;
  background-color: #fff;
}

/* line 113, ../../app/assets/stylesheets/origin.css.scss */
.menubar {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #eee;
  z-index: 9999;
}
/* line 120, ../../app/assets/stylesheets/origin.css.scss */
.menubar ul {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 12%;
}
/* line 126, ../../app/assets/stylesheets/origin.css.scss */
.menubar ul li {
  list-style-type: none;
  float: left;
}
/* line 129, ../../app/assets/stylesheets/origin.css.scss */
.menubar ul li a {
  display: block;
  line-height: 120px;
  padding-left: 22px;
  padding-right: 22px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 137, ../../app/assets/stylesheets/origin.css.scss */
.menubar ul li a:hover {
  background-color: #e8e8e8;
}

@media (max-width: 640px) {
  /* line 146, ../../app/assets/stylesheets/origin.css.scss */
  .menubar {
    height: 80px;
    position: absolute;
  }
}
@media (max-width: 980px) {
  /* line 153, ../../app/assets/stylesheets/origin.css.scss */
  .menubar ul {
    margin-right: 5%;
  }
}
@media (max-width: 725px) {
  /* line 159, ../../app/assets/stylesheets/origin.css.scss */
  .menubar ul {
    margin-right: 3%;
  }
}
@media (max-width: 640px) {
  /* line 165, ../../app/assets/stylesheets/origin.css.scss */
  .menubar ul {
    display: none;
  }
}
@media (max-width: 980px) {
  /* line 171, ../../app/assets/stylesheets/origin.css.scss */
  .menubar ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 725px) {
  /* line 178, ../../app/assets/stylesheets/origin.css.scss */
  .menubar ul li a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* line 184, ../../app/assets/stylesheets/origin.css.scss */
.logo {
  float: left;
  height: 70px;
  width: 265.125px;
  background-image: url("/assets/coffee_letter.png");
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  margin-top: 22px;
  margin-left: 3%;
}

@media (max-width: 980px) {
  /* line 199, ../../app/assets/stylesheets/origin.css.scss */
  .logo {
    margin-left: 2%;
    height: 60px;
    width: 227.25px;
    margin-top: 30px;
  }
}
@media (max-width: 725px) {
  /* line 208, ../../app/assets/stylesheets/origin.css.scss */
  .logo {
    margin-left: 3%;
    height: 55px;
    width: 208.3125px;
  }
}
@media (max-width: 640px) {
  /* line 216, ../../app/assets/stylesheets/origin.css.scss */
  .logo {
    height: 50px;
    width: 189.375px;
    margin-top: 10px;
    margin-left: 5%;
    float: none;
  }
}
/* line 225, ../../app/assets/stylesheets/origin.css.scss */
.sloganbox {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  text-align: center;
  font-size: 32px;
  z-index: 9999;
}

@media (max-width: 980px) {
  /* line 236, ../../app/assets/stylesheets/origin.css.scss */
  .sloganbox {
    margin-top: 55%;
  }
}
@media (max-width: 640px) {
  /* line 242, ../../app/assets/stylesheets/origin.css.scss */
  .sloganbox {
    width: 90%;
    font-size: 24px;
    text-align: left;
    margin-left: 5%;
    margin-top: 35%;
  }
}
/* line 251, ../../app/assets/stylesheets/origin.css.scss */
.slogan {
  padding: 10px;
  line-height: 70px;
  background-color: #000;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  z-index: 9999;
}

@media (max-width: 640px) {
  /* line 262, ../../app/assets/stylesheets/origin.css.scss */
  .slogan {
    font-weight: 300;
    line-height: 60px;
  }
}
/* line 268, ../../app/assets/stylesheets/origin.css.scss */
.padding-sc02 {
  padding-top: 160px;
}

@media (max-width: 640px) {
  /* line 273, ../../app/assets/stylesheets/origin.css.scss */
  .padding-sc02 {
    padding-top: 50px;
  }
}
/* line 278, ../../app/assets/stylesheets/origin.css.scss */
.headingbox img {
  margin-bottom: 5%;
}

/* line 282, ../../app/assets/stylesheets/origin.css.scss */
.padding-sc03, .padding-sc04, .padding-sc05 {
  padding-top: 160px;
}

@media (max-width: 640px) {
  /* line 287, ../../app/assets/stylesheets/origin.css.scss */
  .padding-sc03 {
    padding-top: 50px;
  }
}
@media (max-width: 640px) {
  /* line 293, ../../app/assets/stylesheets/origin.css.scss */
  .padding-sc04 {
    padding-top: 50px;
  }
}
@media (max-width: 640px) {
  /* line 299, ../../app/assets/stylesheets/origin.css.scss */
  .padding-sc05 {
    padding-top: 50px;
  }
}
/* line 304, ../../app/assets/stylesheets/origin.css.scss */
.headingbox {
  width: 80%;
  margin: auto;
  text-align: center;
}

/* line 310, ../../app/assets/stylesheets/origin.css.scss */
.linie {
  width: 120px;
  height: 10px;
  margin: auto;
  margin-top: 2%;
  background-image: url("/assets/zigzag.svg");
  background-size: 100% 100%;
  background-repeat: repeat-x;
  z-index: 1000;
}

/* line 321, ../../app/assets/stylesheets/origin.css.scss */
.linie-left {
  width: 10%;
  height: 1px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #00c6b7;
  z-index: 1000;
}

/* line 330, ../../app/assets/stylesheets/origin.css.scss */
.kreuze-4 {
  width: 56px;
  height: 15px;
  margin: auto;
  margin-top: 2%;
  background-image: url("/assets/kreuz.png");
  background-repeat: repeat-x;
}

@media (max-width: 640px) {
  /* line 340, ../../app/assets/stylesheets/origin.css.scss */
  .kreuze-4 {
    padding-bottom: 50px;
  }
}
/* line 345, ../../app/assets/stylesheets/origin.css.scss */
::selection {
  background-color: #000;
  color: #fff;
}

/* line 350, ../../app/assets/stylesheets/origin.css.scss */
.heading {
  font-size: 26px;
  color: #222;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 0.025em;
}

/* line 359, ../../app/assets/stylesheets/origin.css.scss */
.subheading {
  text-transform: uppercase;
  color: #222;
  font-size: 16px;
}

@media (max-width: 640px) {
  /* line 366, ../../app/assets/stylesheets/origin.css.scss */
  .subheading {
    font-size: 19px;
  }
}
/* line 371, ../../app/assets/stylesheets/origin.css.scss */
.text {
  text-align: left;
  font-size: 13px;
  color: #222;
  margin-top: 10px;
  line-height: 1.4em;
}

@media (max-width: 640px) {
  /* line 380, ../../app/assets/stylesheets/origin.css.scss */
  .text {
    font-size: 16px;
  }
}
/* line 385, ../../app/assets/stylesheets/origin.css.scss */
.text-kontakt {
  text-align: left;
  font-size: 13px;
  color: #222;
  line-height: 2em;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 5px;
  border-left: 1px solid #00c6b7;
  padding-left: 10px;
}

/* line 397, ../../app/assets/stylesheets/origin.css.scss */
.textbw {
  text-align: left;
  font-size: 13px;
  color: #fff;
  margin-top: 25px;
  line-height: 1.4em;
}

@media (max-width: 640px) {
  /* line 406, ../../app/assets/stylesheets/origin.css.scss */
  .textbw {
    font-size: 16px;
  }
}
/* line 411, ../../app/assets/stylesheets/origin.css.scss */
.headingbw {
  font-size: 26px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 0.025em;
}

/* line 420, ../../app/assets/stylesheets/origin.css.scss */
.names {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 5px;
  letter-spacing: 0.025em;
  text-align: left;
}

/* line 430, ../../app/assets/stylesheets/origin.css.scss */
.headline {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.025em;
}

/* line 437, ../../app/assets/stylesheets/origin.css.scss */
.link {
  text-align: left;
  font-size: 13px;
  color: #fff;
  margin-top: 25px;
  line-height: 1.4em;
}

@media (max-width: 640px) {
  /* line 446, ../../app/assets/stylesheets/origin.css.scss */
  .link {
    font-size: 16px;
  }
}
/* line 451, ../../app/assets/stylesheets/origin.css.scss */
.linkschw {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
  padding-bottom: 25px;
  line-height: 1.4em;
}
/* line 457, ../../app/assets/stylesheets/origin.css.scss */
.linkschw a {
  color: #000;
  text-decoration: none;
}

@media (max-width: 640px) {
  /* line 464, ../../app/assets/stylesheets/origin.css.scss */
  .linkschw {
    font-size: 16px;
  }
}
/* line 469, ../../app/assets/stylesheets/origin.css.scss */
.headline {
  background-color: #000;
}

/* line 473, ../../app/assets/stylesheets/origin.css.scss */
a:link {
  text-decoration: none;
}

/* line 477, ../../app/assets/stylesheets/origin.css.scss */
.colbox-4 {
  width: 80%;
  margin: auto;
  padding-top: 6%;
}

/* line 483, ../../app/assets/stylesheets/origin.css.scss */
.col-4 {
  float: left;
  width: 21%;
  margin-right: 5.3%;
  margin-bottom: 20px;
  text-align: center;
}
/* line 489, ../../app/assets/stylesheets/origin.css.scss */
.col-4:nth-child(4), .col-4:nth-child(9) {
  margin-right: 0;
}
/* line 492, ../../app/assets/stylesheets/origin.css.scss */
.col-4 img {
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 640px) {
  /* line 499, ../../app/assets/stylesheets/origin.css.scss */
  .col-4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 506, ../../app/assets/stylesheets/origin.css.scss */
.colbox-2 {
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 7%;
}

/* line 513, ../../app/assets/stylesheets/origin.css.scss */
.col-2 {
  float: left;
  width: 38%;
  margin-right: 24%;
  padding-bottom: 10%;
}
/* line 518, ../../app/assets/stylesheets/origin.css.scss */
.col-2:last-child {
  margin-right: 0;
}
/* line 521, ../../app/assets/stylesheets/origin.css.scss */
.col-2 img {
  width: 100%;
  margin-top: 3%;
  border-radius: 5px;
}

@media (max-width: 640px) {
  /* line 529, ../../app/assets/stylesheets/origin.css.scss */
  .col-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
/* line 536, ../../app/assets/stylesheets/origin.css.scss */
.col-1 {
  width: 40%;
  margin: auto;
  margin-top: 2%;
}

@media (max-width: 640px) {
  /* line 543, ../../app/assets/stylesheets/origin.css.scss */
  .col-1 {
    width: 80%;
  }
}
/* line 548, ../../app/assets/stylesheets/origin.css.scss */
.col-1center {
  width: 40%;
  margin: auto;
  margin-top: 2%;
  text-align: center;
}

/* line 555, ../../app/assets/stylesheets/origin.css.scss */
form.kontakt {
  text-align: center;
  font-size: 18px;
  color: #9d9d9d;
  margin-top: 10px;
  line-height: 1.4em;
}

/* line 563, ../../app/assets/stylesheets/origin.css.scss */
input {
  width: 99%;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  height: 25px;
  margin-bottom: 3%;
  background-color: #eee;
  padding: 10px;
  font-family: 'AppleSDGothicNeo-Thin','Malgun Gothic','Dotum',sans-serif;
  font-size: 13px;
}
/* line 575, ../../app/assets/stylesheets/origin.css.scss */
input:focus {
  outline: none;
}

/* line 580, ../../app/assets/stylesheets/origin.css.scss */
textarea:focus {
  outline: none;
}

/* line 584, ../../app/assets/stylesheets/origin.css.scss */
#anliegen {
  width: 99%;
  height: 120px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #eee;
  resize: none;
  padding: 10px;
  font-family: 'AppleSDGothicNeo-Thin','Malgun Gothic','Dotum',sans-serif;
  font-size: 13px;
}

/* line 597, ../../app/assets/stylesheets/origin.css.scss */
#submit {
  width: 99%;
  margin: 0;
  padding: 0;
  background-color: #eee;
  margin-top: 3%;
  font-family: 'AppleSDGothicNeo-Thin','Malgun Gothic','Dotum',sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  height: 30px;
}

/* line 610, ../../app/assets/stylesheets/origin.css.scss */
.formtext {
  display: block;
  font-size: 16px;
  color: #222;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  margin-bottom: 0.8%;
}

/* line 620, ../../app/assets/stylesheets/origin.css.scss */
.img_zeile {
  width: 40%;
  margin: auto;
  height: auto;
  padding-bottom: 10%;
}
/* line 625, ../../app/assets/stylesheets/origin.css.scss */
.img_zeile img {
  margin-left: 7.9%;
  margin-right: 7.9%;
  width: 17%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}
/* line 631, ../../app/assets/stylesheets/origin.css.scss */
.img_zeile img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

@media (max-width: 980px) {
  /* line 639, ../../app/assets/stylesheets/origin.css.scss */
  .img_zeile {
    width: 60%;
  }
}
@media (max-width: 640px) {
  /* line 645, ../../app/assets/stylesheets/origin.css.scss */
  .img_zeile {
    width: 80%;
  }
}
@media (max-width: 640px) {
  /* line 651, ../../app/assets/stylesheets/origin.css.scss */
  .img_zeile img {
    margin-left: 7.4%;
    margin-right: 7.4%;
    width: 18%;
  }
}
@media (max-width: 980px) {
  /* line 659, ../../app/assets/stylesheets/origin.css.scss */
  .img_zeile img {
    margin-left: 7.4%;
    margin-right: 7.4%;
    width: 18%;
  }
}
/* line 666, ../../app/assets/stylesheets/origin.css.scss */
.subheading-kontakt {
  text-transform: uppercase;
  color: #222;
  font-size: 16px;
}

/* line 672, ../../app/assets/stylesheets/origin.css.scss */
.clearing {
  clear: both;
  line-height: 0.1px;
  font-size: 0.1px;
}

/* line 678, ../../app/assets/stylesheets/origin.css.scss */
span.kontakt-label {
  color: #9f9f9f;
}

/* line 682, ../../app/assets/stylesheets/origin.css.scss */
.col-2k {
  float: left;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 640px) {
  /* line 690, ../../app/assets/stylesheets/origin.css.scss */
  .col-2k {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 980px) {
  /* line 698, ../../app/assets/stylesheets/origin.css.scss */
  .col-2k {
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
  }
}
/* line 705, ../../app/assets/stylesheets/origin.css.scss */
.hyphenate {
  text-align: justify;
}

/* line 709, ../../app/assets/stylesheets/origin.css.scss */
.bg-slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
/* line 715, ../../app/assets/stylesheets/origin.css.scss */
.bg-slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
/* line 722, ../../app/assets/stylesheets/origin.css.scss */
.bg-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: -1;
  -webkit-animation: imageAnimation 36s linear 1 0s;
  -moz-animation: imageAnimation 36s linear 1 0s;
  -o-animation: imageAnimation 36s linear 1 0s;
  -ms-animation: imageAnimation 36s linear 1 0s;
  animation: imageAnimation 36s linear 1 0s;
}
/* line 744, ../../app/assets/stylesheets/origin.css.scss */
.bg-slideshow .image01 {
  background-image: url(/assets/bg-01.jpg);
}

/* line 749, ../../app/assets/stylesheets/origin.css.scss */
.no-cssanimations .bg-slideshow {
  background-image: url(/assets/bg-01.jpg);
}
/* line 751, ../../app/assets/stylesheets/origin.css.scss */
.no-cssanimations .bg-slideshow li span {
  display: none;
}

@-webkit-keyframes imageAnimation {
  /* line 757, ../../app/assets/stylesheets/origin.css.scss */
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  /* line 761, ../../app/assets/stylesheets/origin.css.scss */
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  /* line 765, ../../app/assets/stylesheets/origin.css.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes imageAnimation {
  /* line 772, ../../app/assets/stylesheets/origin.css.scss */
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  /* line 776, ../../app/assets/stylesheets/origin.css.scss */
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  /* line 780, ../../app/assets/stylesheets/origin.css.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes imageAnimation {
  /* line 787, ../../app/assets/stylesheets/origin.css.scss */
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  /* line 791, ../../app/assets/stylesheets/origin.css.scss */
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  /* line 795, ../../app/assets/stylesheets/origin.css.scss */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes imageAnimation {
  /* line 802, ../../app/assets/stylesheets/origin.css.scss */
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  /* line 806, ../../app/assets/stylesheets/origin.css.scss */
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  /* line 810, ../../app/assets/stylesheets/origin.css.scss */
  100% {
    opacity: 1;
  }
}

@keyframes imageAnimation {
  /* line 817, ../../app/assets/stylesheets/origin.css.scss */
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  /* line 821, ../../app/assets/stylesheets/origin.css.scss */
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  /* line 825, ../../app/assets/stylesheets/origin.css.scss */
  100% {
    opacity: 1;
  }
}

/* line 831, ../../app/assets/stylesheets/origin.css.scss */
.angebot-icon {
  margin-top: 10px;
  width: 50%;
  padding-bottom: 80px;
}

@media (max-width: 640px) {
  /* line 838, ../../app/assets/stylesheets/origin.css.scss */
  .icons {
    display: none;
  }
}
/* line 843, ../../app/assets/stylesheets/origin.css.scss */
.gabel-icon {
  width: 8%;
}

@media (max-width: 640px) {
  /* line 848, ../../app/assets/stylesheets/origin.css.scss */
  .gabel-icon {
    width: 20%;
  }
}
/* line 853, ../../app/assets/stylesheets/origin.css.scss */
.box {
  width: 400px;
  margin-left: -200px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 300px;
  z-index: 99999;
  border-radius: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 30px;
}

/* line 868, ../../app/assets/stylesheets/origin.css.scss */
a[href^=tel] {
  color: inherit;
  text-decoration: underline;
}
